
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><img src="https://tse4.mm.bing.net/th?id=OIP.1rKfWtH8OMvSFjz0JxiKBgHaHa&pid=Api&P=0&h=180" width="30%" height ="30%"  alt="icon"  /></h1>
            <p>Login to an existing account or register</p>
            <a href="/users/sign-in" class="btn btn-primary btn-block">Login</a>
            <a href="/users/sign-up" class="btn btn-secondary btn-block mb-2">Register</a>
        </div>
    </div>
</div>
